.carousel-container {
  object-position: top;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin: 0 auto;

  .flux-image {
    background-position: top !important;
  }

  .flux-pagination {
    position: relative;
    top: 50px;
    left: 720px;
    gap: 10px !important;

    .pagination-item {
      width: 50px !important;
      height: 2px !important;
      background-color: #c9c8c8e4 !important;
      border-radius: 5px !important;
      border-color: transparent !important;
      transition: all 0.3s ease;
    }

    .pagination-item.active {
      background-color: var(--color-primary) !important;
    }
  }
}

.flux-navigation .arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
}

.flux-navigation .arrow:hover {
  background-color: #00dc82;
}
